@import "~bulma";
#app {
  background-color: #f5f5f5;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#content {
  margin-bottom: 6rem;
}

.is-divider {
  margin: 1rem 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.footer {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  padding-bottom: 1.5rem;
}

.double {
  line-height: 2;
}

ul.no-margin-ul {
  margin-top: 0;
  margin-left: 1em;
}

ol.no-margin-ol {
  margin-top: 0;
  margin-left: 1em;
}

.orbs {
  line-height: 1;
}

.no-margin-bottom:not(:last-child) {
  margin-bottom: 0;
}

.columns {
  margin-left: 0rem;
  margin-right: 0rem;
}
